---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
---
<MainLayout title="DANIRAS">
	<article class="">
		<p>indhold</p>
		<Button variant="primary" size="large">Button</Button>
	</article>
</MainLayout>
<style></style>
<script src="../js/login.js"></script>