---
import MainLayout from "../layouts/MainLayout.astro";
import InfoBox from "../components/InfoBox.astro";
import ContactForm from "../components/ContactForm.astro";
import Services from "../components/Services.astro";
import Carousel from "../components/Carousel.astro";
---
<MainLayout title="DANIRAS | Our Services">

<!-- Sektion 1 -->

<section class="border">
    <ul class="flex my-14 mx-9 md:m-20 gap-2 font-[DM_Sans] text-base md:text-sm">
       <li><a class="link" href="../">Home</a> </li>
        <span>|</span>
        <li><a class="link" href="/ourservices">Our Services</a></li>
    </ul>

    <div class="md:grid md:grid-cols-2">
    <div class=" my-14 mx-9 md:m-20">
    <h1 class="text-5xl md:text-6xl pb-4 font-[Gabarito]">Our Services: Tailored Solutions for Your Business Needs</h1>
    <p class="font-[DM_Sans] text-base">We provide tailored services and solutions to meet your needs. From creating a website to
        managing storage, our dedicated team ensures exceptional quality and customer satisfaction.
    </p>
    </div>
    <div><!--tom div --></div>
    </div>
    
    <!--sektion 2-->

<section class="container mx-auto md:mx-20 py-12 font-[Gabarito]">
    <div class="card-container containerbackground p-6 rounded-lg md:grid md:grid-cols-3 gap-4 transition duration-300">
    <!-- Card 1 -->
    <div class="card-wrapper ">
        <h2 class="text-xl mb-4 ">01</h2>
    <div class="card-container h-[450px] content-center background p-6 rounded-lg shadow-md text-center">
      <div class="text-4xl font-bold color">
        <h3 class="staggeranimation">IT-Management and Support</h3>
      </div>
    </div>
    </div>

    <!-- Card 2 -->
     <div class="card-wrapper">
    <h2 class="text-xl mb-4 ">02</h2>
    <div class="card-container h-[450px] content-center background p-6 rounded-lg shadow-md text-center">
      <div class="text-4xl font-bold color">
        <h3 class="staggeranimation">Custom Software Development</h3>
    </div>
    </div>
    </div>

    <!-- Card 3 -->
    <div class="card-wrapper">
        <h2 class="text-xl mb-4 ">03</h2>
    <div class="card-container h-[450px] content-center background p-6 rounded-lg shadow-md text-center">
      <div class="text-4xl font-bold color">
        <h3 class="staggeranimation">Inventory Storage and Logistics</h3>
      </div>
    </div>
    </div>

  </div>
</section>
    <Services/>

    <section class="m-9 md:m-20"> 
      <ContactForm/>
    </section>
   

    

</section>



</MainLayout>

<script>
  /* Import af Motion One bibliotek */
import { animate, stagger, inView, scroll, timeline } from "motion";
  animate(
  ".staggeranimation",
  { opacity: [0, 1] },
  { 
      delay: stagger(1, { start: 2 })
  }
)
</script>

<style>
    img{
        border-radius: 8px;
    }
    .border{
    border-bottom: 1px solid var(--opacity40-dark-blue);
    }
    .link:hover{
    border-bottom: 1px solid var(--dark-brown);
    transition: 0.15s;
    }   

    h1 h2{
        color:var(--dark-brown);
    }

    p{
        color:var(--brown);
    }

    .background{
      background-color:var(--lighter-blue);
      box-shadow: 0px 4px 40px var(--opacity10-dark-blue);
    }
    p {
      color:var(--brown);
    }
  
    .color h2{
      color: var(--dark-brown);
    }
  
    .containerbackground{
      background-color: var(--white);
    }
  
</style>
