---
import PopUp from "./PopUp.astro";

const {headline, text, feature,} = Astro.props
---

<!-- This is a card for the services figure out if it can be done with one dard component or if you have to create another -->

<div class="wrapper">
    <div class="card">
        <div>
            <h2>{headline}</h2>
            <p>{text}</p>
        </div>

        <div>
            <img src="" alt="">
            <p>{feature}</p>
            <PopUp popuptext="description"/>
        </div>
        
    </div>
</div>