---
import Button from "../components/Button.astro";
---

<!-- This is the contact form -->
 <section class="md:grid md:grid-cols-2 m-9 md:m-20" id="contactform">
    <div class="md:pr-9">
        <img class=" hidden md:block h-full object-cover" src="/img/employee2.webp" alt="">
    </div>
    <div class="md:pl-9">
        <!-- formular -->
        <h2 class="text-4xl md:text-5xl font-normal font-[Gabarito]">Get in touch</h2> 
        <p class="font-[DM_Sans] text-base">Have questions or need assistance? Fill out the form below, and we’ll get back to you as soon as possible. We’re here to help!</p>
        <form class="font-[DM_Sans]">
            <div class="grid grid-rows-2">
                <label for="username" class="mt-9 text-sm">Firstname</label>
                <input type="text" class=" rounded-sm focus:border-none background" id="username-first" placeholder="Firstname">
            </div>
            <div class="grid grid-rows-2">
                <label for="username" class="mt-9 text-sm">Lastname</label>
                <input type="text" class="background" id="username-last" placeholder="Lastname">
            </div>
            <div class="grid grid-rows-2">
                <label for="email" class="mt-9 text-sm">Email</label>
                <input type="email" class="background" id="email" placeholder="name@kea.com">
            </div>
            <div class="grid mt-1">
                <label for="message" class="block h-fit mt-6 text-sm">Message</label>
                <textarea id="message" rows="7" class="block  w-full background" placeholder="Write to us here..."></textarea>

            </div>
            <div class="flex items-start mb-10">
              <div class="flex items-center mt-2 h-10">
                <input id="checked" type="checkbox" value="" class="w-10 h-10 border rounded-sm background dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800" required />
              </div>
              <label class="mt-2 ml-2 text-sm">By submitting this form, you agree to our <span class=" cursor-pointer hover:underline text-sm">Terms of Use</span> and <span class="cursor-pointer hover:underline">Privacy Policy</span>.</label>
            </div>

            <Button variant="secondary" size="medium">Submit</Button>
        </form>
    </div>
 </section>

  <style>
    .background{
      background-color: var(--white-blue);
      border-color: var(--light-blue);
    }

    .background:hover{
      background-color: var(--lighter-blue);
      border-color: var(--blue);
    }

    img{
      border-radius: 8px;
      box-shadow: 0px 4px 40px var(--opacity40-dark-blue);
    }
    label p{
      color:var(--brown);
    }

    h2{
      color:var(--dark-brown);
    }

  </style>