---
---
<div class="pt-6 border-t-2 ">
footer
    <div>
        <div>
            <a href=""><img src="" alt=""></a> <!-- kig evt på digital skrald for at se hvordan billede link virker -->
            <p></p>
            <p></p>
            <p></p>
            <p></p>
        </div>
       
        <div>
            <p></p>
        </div>
        
        <div>
            <a></a>
            <a></a>
        </div>
        
    </div>

    <div>
        <div> 
            <a></a>
            <a></a>
            <a></a>
            <a></a>
            <a></a>
        </div>
      <div>
        <p></p>
      </div>
    </div>
</div>
  