---
import Button from '../components/Button.astro';
---
<!-- desktop menu -->
<div x-data="{ showmenu: false }" class="sticky md:static w-full z-50 border font-[DM_Sans] text-base">

  <div id="navbar" class="flex flex-row justify-between ">
    <a href="/" aria-label="Home">
      <div id="logo" class="h-[40px] w-[44px] bg-[url('/img/logo.webp')] bg-cover m-9"></div>
    </a>

    <nav id="desktopmenu" class="hidden md:block">
      <ul class="flex flex-row gap-9 items-baseline m-9 ">

        <li class="link "><a href="/ourservices">Our Services</a></li>

        <li class="link"><a href="/cases">Cases</a></li>

        <li class="link"><a href="/aboutus">About Us</a></li>
        <li><a href="https://daniras.com/contact" target="_blank">
          <Button variant="primary" size="small">Contact</Button> 
        </a></li>
      </ul>
    </nav>

<!-- mobil menu -->
    <button id="burgermenu" class="md:hidden mr-9 font-[DM_Sans] color" x-on:click="showmenu = !showmenu">
      <svg x-show="!showmenu" class="w-12 h-12" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
      </svg>
      <svg x-show="showmenu" class="w-12 h-12" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
      </svg>
    </button>
  </div>

  <nav id="mobilmenu" class="flex flex-col content-center pt-4 md:hidden h-screen font-[DM_Sans] text-xl" x-show="showmenu" x-transition x-on:click.outside="showmenu = false">
    <ul class="pt-9 pl-18 ">

      <li class="link w-fit"><a href="/ourservices">Our Services</a></li>

      <li class="link w-fit pt-9"><a href="/cases">Cases</a></li>

      <li class="link w-fit pt-9"><a href="/aboutus">About Us</a></li>
     
      <li class="link w-fit pt-9"><a href="https://daniras.com/job-openings1/index" target="_blank">Career</a></li>

      <li class="link w-fit pt-9"><a href="https://daniras.com/contact" target="_blank">Contact</a></li>
    </ul>
  </nav>
</div>




  

<style>
.border{
  border-bottom: 1px solid var(--opacity40-dark-blue);
}
.link:hover{
    border-bottom: 1px solid var(--dark-brown);
    transition: 0.15s;
}

.color{
  color: var(--dark-brown);
}

li{
  color: var(--brown);
}

</style>