---
import Button from "./Button.astro";
---
<!-- This is the hero section -->
<section class="bg-[url('/img/screen.webp')] text-center items-center text-white p-14 md:p-20 md:h-[700px]  flex-col flex justify-center ">
    <h1 class="pb-12 text-5xl ">Unlock Tailored Solutions with DANIRAS</h1>
    <p class="pb-14">We deliver customized services designed to meet your unique needs. Experience quality, innovation, and excellence in every project we undertake.</p>
    <Button variant="primary" size="small">View Our Serivces</Button>
</section>