---
import "../styles/style.css"
import "../styles/animation.css"
---

https://css-tricks.com/animating-number-counters/
https://www.youtube.com/watch?v=ulcVQt-a7c8 
https://gsap.com/community/forums/topic/26886-number-counter-animation-in-gsap-3x-and-adding-decimal-separators-to-the-number/ 
<!-- This is the infobox with a headline, div, number and paragraph -->

<article>
    <div>
        <h2>Headline</h2>
        <div class="box">
            <div class="number"></div>
            <p>brødtekst</p>
        </div>
    </div>

</article>

<style>       
    .box{
        background-color: var(--lighter-blue);
      }
    
</style>