---
import { Image } from "astro:assets";
import anycubic from "../assets/anycubic2.webp";
import employee from "../assets/employee.png";


---
<!-- this section is a big img -->
<section class="mx-6 ">
   <div class="md:h-screen w-fit">
      <div class="p-[40px] md:p-[80px]"> 
         <slot />
      </div>
   </div>
</section>
