---
import Button from "./Button.astro";
const {picture, alt, header, text} = Astro.props
---

<!-- this section has a picture on the left and a headline, copy and a button on the right side -->

<div class=" md:grid md:grid-cols-2 p-14 md:p-20">
    <div class="md:px-9">
        <img class=" img h-[400px] md:h-[800px] bg-right object-cover " src={picture} alt={alt}>
    </div>
    <div class="flex-col self-end md:px-9">
        <h2 class="pt-2 pb-4 md:pb-9 md:pt-0 text-4xl">{header}</h2>
        <p class="pb-7 md:pb-12 text-lg">{text}</p>
        <Button variant="primary" size="small">Discover Anycubic Nordic</Button> 
    </div>
</div>

<style>
    img{
        border-radius: 8px;
    }
</style>