---
import Button from "./Button.astro";
const {picture, alt, header, text} = Astro.props
---

<!-- this section has a picture on the left and a headline, copy and a button on the right side -->

<div class=" md:grid md:grid-cols-2 p-14 md:p-20">
    <div class="md:px-9 ">
        <img class=" img h-[400px] md:h-[700px] bg-right object-cover " src={picture} alt={alt}>
    </div>
    <div class="flex-col self-end md:px-9">
        <h2 class="pt-2 pb-4 md:pb-9 md:pt-0 text-4xl font-[Gabarito]">{header}</h2>
        <p class="pb-7 md:pb-12 text-lg font-[DM_Sans]">{text}</p>
        <div class="w-fit">
            <a href="/cases">
            <Button variant="tertiary" size="medium">Discover Anycubic Nordic</Button> 
            </a>
        </div>
    </div>
</div>

<style>
    img{
        border-radius: 8px;
        box-shadow: 0px 4px 40px var(--opacity40-dark-blue);
    }

    h2{
        color:var(--dark-drown);
    }
    p{
        color:var(--brown);
    }
    
</style>